<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- COLLEGA IL CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

    <title>Agenzie Spaziali</title>
</head>

<div class="navbar">
  <div class="navbar-inner">

    <div class="navbar-dropdown">
      <a href="{{ url_for('home') }}" class="navbar-btn">Home</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('linea_tempo') }}" class="navbar-btn">Linea del Tempo</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('edciv') }}" class="navbar-btn">Inquinamento spaziale</a>
    </div>

    <!-- ED. FISICA + IRC -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Persona ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('edfis_irc') }}" class="navbar-dropdown-item">Preparazione allo Spazio</a>
        <a href="{{ url_for('edfis_irc') }}#irc" class="navbar-dropdown-item">Scienziati credenti</a>
      </div>
    </div>

    <!-- LINGUE -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Lingue ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('ing_spa') }}" class="navbar-dropdown-item">War of the worlds</a>
        <a href="{{ url_for('ing_spa') }}#spagnolo" class="navbar-dropdown-item">Tecnología española para la atmósfera</a>
      </div>
    </div>

    <!-- ITALIANO / STORIA / GEOGRAFIA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Umanistica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('ita_sto_geo') }}" class="navbar-dropdown-item">The martian</a>
        <a href="{{ url_for('ita_sto_geo') }}#storia" class="navbar-dropdown-item">Esplorazioni prima e ora</a>
        <a href="{{ url_for('ita_sto_geo') }}#geografia" class="navbar-dropdown-item">Terre di nessuno</a>
      </div>
    </div>

    <!-- MATEMATICA / SCIENZE / TECNOLOGIA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Scientifica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('mat_sci_tec') }}" class="navbar-dropdown-item">Comunicazioni sfalsate</a>
        <a href="{{ url_for('mat_sci_tec') }}#scienze" class="navbar-dropdown-item">Pianeta Rosso</a>
        <a href="{{ url_for('mat_sci_tec') }}#tecnologia" class="navbar-dropdown-item">Sistemi di alimentazione</a>
      </div>
    </div>

    <!-- ARTE / MUSICA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Artistica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('mus_art') }}" class="navbar-dropdown-item">I suoni di Marte</a>
        <a href="{{ url_for('mus_art') }}#arte" class="navbar-dropdown-item">Iconografie</a>
      </div>
    </div>

  </div>
</div>

<body>
    <div class="container">
        <h1>Le agenzie spaziali</h1>
        <h2>Cosa sono?</h2>
        <p>In questo sito, 
            soprattutto nella pagina "linea del tempo", 
            sono state nominate spesso diverse agenzie spaziali ma non è stato spiegato cosa siano.<br>
            Le agenzie spaziali sono organizzazioni che si occupano dell'esplorazione dello spazio, 
            con missioni con e senza equipaggio.<br>
            Di seguito sono elencate tutte le agenzie spaziali nominate, 
            affiancate da un testo che riporta una breve descrizione, il logo e altro.
        </p>

        <h1>agenzie nominate</h1>

        <h2>NASA</h2>
        <p>Acronimo: National Aeronautics and Space Administration <br>
            Paese: Stati Uniti <br>
            Data di fondazione: 1958 <br>
            Sito ufficiale: <a href="https://www.nasa.gov" target="_blank">nasa.gov</a></p>
            <img src="{{ url_for('static', filename='images/NASA.png') }}" alt="NASA logo">

        <h2>ESA</h2>
        <p>Acronimo: European Space Agency <br>
            Paese: Europa (22 Stati membri) <br>
            Data di fondazione: 1975 <br>
            Sito ufficiale: <a href="https://www.esa.int" target="_blank">esa.int</a></p>
            <img src="{{ url_for('static', filename='images/ESA.png') }}" alt="ESA logo">
        <h2>ASI</h2>
        <p>Acronimo: Agenzia Spaziale Italiana <br>
            Paese: Italia <br>
            Data di fondazione: 1988 <br>
            Sito ufficiale: <a href="https://www.asi.it" target="_blank">asi.it</a></p>
            <img src="{{ url_for('static', filename='images/ASI.png') }}" alt="ASI logo">

        <h2>CSA</h2>
        <p>Acronimo: Canadian Space Agency <br>
            Paese: Canada <br>
            Data di fondazione: 1989 <br>
            Sito ufficiale: <a href="https://www.asc-csa.gc.ca" target="_blank">asc-csa.gc.ca</a></p>
            <img src="{{ url_for('static', filename='images/CSA.png') }}" alt="CSA logo">

        <h2>JAXA</h2>
        <p>Acronimo: Japan Aerospace Exploration Agency <br>
            Paese: Giappone <br>
            Data di fondazione: 2003 <br>
            Sito ufficiale: <a href="https://www.jaxa.jp" target="_blank">jaxa.jp</a></p>
            <img src="{{ url_for('static', filename='images/JAXA.png') }}" alt="JAXA logo">

    </div>
</body>
</html>
