<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>Matematica, Scienze e Tecnologia</title>
</head>

<div class="navbar">
  <div class="navbar-inner">

    <div class="navbar-dropdown">
      <a href="{{ url_for('agenzie') }}" class="navbar-btn">Agenzie Spaziali</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('home') }}" class="navbar-btn">Home</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('linea_tempo') }}" class="navbar-btn">Linea del Tempo</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('edciv') }}" class="navbar-btn">Inquinamento spaziale</a>
    </div>

    <!-- ED. FISICA + IRC -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Persona ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('edfis_irc') }}" class="navbar-dropdown-item">Preparazione allo Spazio</a>
        <a href="{{ url_for('edfis_irc') }}#irc" class="navbar-dropdown-item">Scienziati credenti</a>
      </div>
    </div>

    <!-- LINGUE -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Lingue ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('ing_spa') }}" class="navbar-dropdown-item">War of the worlds</a>
        <a href="{{ url_for('ing_spa') }}#spagnolo" class="navbar-dropdown-item">Missioni ESA</a>
      </div>
    </div>

    <!-- ITALIANO / STORIA / GEOGRAFIA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Umanistica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('ita_sto_geo') }}" class="navbar-dropdown-item">The martian</a>
        <a href="{{ url_for('ita_sto_geo') }}#storia" class="navbar-dropdown-item">Esplorazioni prima e ora</a>
        <a href="{{ url_for('ita_sto_geo') }}#geografia" class="navbar-dropdown-item">Terre di nessuno</a>
      </div>
    </div>

    <!-- ARTE / MUSICA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Artistica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('mus_art') }}" class="navbar-dropdown-item">The planets</a>
        <a href="{{ url_for('mus_art') }}#arte" class="navbar-dropdown-item">Iconografie</a>
      </div>
    </div>

  </div>
</div>

<body>
    <div class="container">
        <h1>Scientifica</h1>

        <h2>Comunicazioni sfalsate</h2>
        <p>Contenuto su matematica e calcoli nell'esplorazione di Marte verrà aggiunto qui.</p>
        
        <h2 id="scienze">Pianeta rosso</h2>

        <h3>Proprietà fisiche</h3>

        <p>Conosciuto anche come il <i>Pianeta Rosso</i> a causa del suo colore rossastro dovuto alla presenza di ossido di ferro, 
        Marte è il quarto pianeta a partire dal Sole. 
        Con un diametro di circa 6.792 km (circa metà di quello terrestre), 
        è uno dei 4 pianeti rocciosi del Sistema Solare insieme a Mercurio, Venere e la Terra. <br>
        </p>
        <h3>Gravità, clima e tempo</h3>

        <p>La gravità marziana è circa il 38% di quella terrestre (un (1) kg su Marte pesa circa 0,378 kg), 
        a causa delle dimensioni ridotte del pianeta e della sua conseguente massa inferiore. 
        La temperatura media di Marte è di circa -63 °C, 
        con massime di 20 °C durante l'estate all'equatore e minime di -140 °C durante l'inverno ai poli. <br> 
        L'anno marziano dura approssimativamente 687 giorni terrestri, 
        mentre un giorno marziano (sol) dura circa 24 ore e 39 minuti. <br>
        </p> 
        <h3>Atmosfera</h3>

        <p>La sottile atmosfera di Marte raggiunge appena al livello del suolo una pressione di 0,006 bar 
        (1 bar sulla Terra) ed è composta da anidride carbonica (95,32%), 
        azoto (2,7%), 
        argon (1,6%), 
        ossigeno (0,13%), 
        monossido di carbonio (0,07%), 
        vapore acqueo (0,03%) e tracce di altri gas. <br>
        Il fatto che l'atmosfera sia così sottile comporta diverse cose: La prima è che l'acqua allo stato liquido non può esistere,
        perchè sublima (passa direttamente dallo stato solido a quello gassoso) a causa della bassa pressione, 
        non protegge dalle radiazioni cosmiche e solari, a differenza di quella terrestre che blocca i raggi UV e le particelle cariche, 
        e rende difficili gli atterraggi dei rover e dei lander, in quanto i paracaduti sono meno efficaci a causa della quasi nulla densità dell'aria.
 
      </p>
        
        <h2 id="tecnologia">Sistemi di alimentazione</h2>
        <p>Contenuto su tecnologia e innovazioni utilizzate nell'esplorazione di Marte verrà aggiunto qui.</p>
    </div>
</body>
</html>
