<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>Scientifica</title>
</head>

<div class="navbar">
  <div class="navbar-inner">

    <div class="navbar-dropdown">
      <a href="{{ url_for('agenzie') }}" class="navbar-btn">Agenzie Spaziali</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('home') }}" class="navbar-btn">Home</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('linea_tempo') }}" class="navbar-btn">Linea del Tempo</a>
    </div>

    <div class="navbar-dropdown">
      <a href="{{ url_for('edciv') }}" class="navbar-btn">Inquinamento spaziale</a>
    </div>

    <!-- ED. FISICA + IRC -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Persona ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('edfis_irc') }}" class="navbar-dropdown-item">Preparazione allo Spazio</a>
        <a href="{{ url_for('edfis_irc') }}#irc" class="navbar-dropdown-item">Scienziati credenti</a>
      </div>
    </div>

    <!-- LINGUE -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Lingue ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('ing_spa') }}" class="navbar-dropdown-item">War of the worlds</a>
        <a href="{{ url_for('ing_spa') }}#spagnolo" class="navbar-dropdown-item">Tecnología española para la atmósfera</a>
      </div>
    </div>

    <!-- ITALIANO / STORIA / GEOGRAFIA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Umanistica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('ita_sto_geo') }}" class="navbar-dropdown-item">The martian</a>
        <a href="{{ url_for('ita_sto_geo') }}#storia" class="navbar-dropdown-item">Esplorazioni prima e ora</a>
        <a href="{{ url_for('ita_sto_geo') }}#geografia" class="navbar-dropdown-item">Terre di nessuno</a>
      </div>
    </div>

    <!-- ARTE / MUSICA -->
    <div class="navbar-dropdown">
      <button class="navbar-btn navbar-dropdown-btn">Artistica ▼</button>
      <div class="navbar-dropdown-menu">
        <div class="hover-bridge"></div>
        <a href="{{ url_for('mus_art') }}" class="navbar-dropdown-item">I suoni di Marte</a>
        <a href="{{ url_for('mus_art') }}#arte" class="navbar-dropdown-item">Iconografie</a>
      </div>
    </div>

  </div>
</div>

<body>
    <div class="container">
        <h1>Scientifica</h1>

        <h2>Comunicazioni sfalsate</h2>
        <h3>Motivo del ritardo</h3>

        <p>La distanza tra la Terra e Marte varia continuamente a causa delle loro orbite ellittiche. 
          Questo significa che il tempo impiegato da un segnale radio per viaggiare da un pianeta all'altro cambia in base alla posizione dei due pianeti. 
          La velocità del segnale è quella della luce, 
          cioè circa 300.000 km/s, 
          ma la distanza può variare da 54 milioni a circa 401 milioni di chilometri.</p>

        <h3>Tempo del ritardo</h3>

        <p>Quando Marte è relativamente vicino, 
          un segnale impiega circa 7 minuti per arrivare.
          Quando è lontano, può impiegare fino a 45 minuti.
          Questo ritardo varia nel tempo in un ciclo che si ripete ogni 2 anni 
          (Il rapporto tra la rivoluzione della Terra e quella di Marte è di 2/1) 
          e rende impossibile controllare un rover in tempo reale: 
          ogni comando che mandi in reazione a qualcosa arriva sul pianeta con un ritardo tra i 7 ed i 45 minuti.</p>

        <h3>Spiegazione e calcolo del ritardo</h3>

        <p>Il tempo che un segnale ci mette per andare e tornare da un punto ad un altro è calcolabile con una semplice formula. <br>
          Per ottenere "t", 
          che è il tempo del ping, 
          si deve prendere "d", 
          la distanza tra i due punti, 
          che nel nostro caso sarà 225 milioni di chilometri, 
          ossia la distanza media approssimata tra la Terra e Marte, 
          e si divide per "c", 
          che è una costante ed indica la velocità della luce nel vuoto, 
          ossia 300.000 km/s. 
          Per ottenere il tempo di andata e ritorno si moltiplica il risultato per 2, 
          arrivando ad avere 1500 secondi che equivalgono a 25 minuti, 
          ossia il tempo medio nelle trasmissioni tra le sonde marziane ed i centri di controllo sulla Terra. <br>
          Visivamente appare così: <br> </p>
          <p>
            t = d / c · 2 → t = 
            <span>
                225.000.000 / 300.000
            </span>
            · 2 = 1500 s = 25 min
          </p>
        
        <p>La prossima sezione consigliata è:</p> <a href="#tecnologia">Sistemi di alimentazione</a>

        <h2 id="scienze">Pianeta rosso</h2>

        <h3>Proprietà fisiche</h3>

        <p>Conosciuto anche come il <i>Pianeta Rosso</i> a causa del suo colore rossastro dovuto alla presenza di ossido di ferro, 
        Marte è il quarto pianeta a partire dal Sole. 
        Con un diametro di circa 6.792 km (circa metà di quello terrestre), 
        è uno dei 4 pianeti rocciosi del Sistema Solare insieme a Mercurio, Venere e la Terra. <br>
        </p>
        <h3>Gravità, clima e tempo</h3>

        <p>La gravità marziana è circa il 38% di quella terrestre (un (1) kg su Marte pesa circa 0,378 kg), 
        a causa delle dimensioni ridotte del pianeta e della sua conseguente massa inferiore. 
        La temperatura media di Marte è di circa -63 °C, 
        con massime di 20 °C durante l'estate all'equatore e minime di -140 °C durante l'inverno ai poli. <br> 
        L'anno marziano dura approssimativamente 687 giorni terrestri, 
        mentre un giorno marziano (sol) dura circa 24 ore e 39 minuti. <br>
        </p> 
        <h3>Atmosfera</h3>

        <p>La sottile atmosfera di Marte raggiunge appena al livello del suolo una pressione di 0,006 bar 
        (1 bar sulla Terra) ed è composta da anidride carbonica (95,32%), 
        azoto (2,7%), 
        argon (1,6%), 
        ossigeno (0,13%), 
        monossido di carbonio (0,07%), 
        vapore acqueo (0,03%) e tracce di altri gas. <br>
        Il fatto che l'atmosfera sia così sottile comporta diverse cose: La prima è che l'acqua allo stato liquido non può esistere,
        perchè sublima (passa direttamente dallo stato solido a quello gassoso) a causa della bassa pressione, 
        non protegge dalle radiazioni cosmiche e solari, a differenza di quella terrestre che blocca i raggi UV e le particelle cariche, 
        e rende difficili gli atterraggi dei rover e dei lander, in quanto i paracaduti sono meno efficaci a causa della quasi nulla densità dell'aria.
 
      </p>

      <p>La prossima sezione consigliata è:</p> <a href="ita-sto-geo#storia">L'esplorazione prima ed ora</a>
        
        <h2 id="tecnologia">Sistemi di alimentazione</h2>

        <p>Le sonde su Marte utilizzano principalmente due tipi di sistemi di alimentazione: RTG o pannelli solari, 
           ognuno con le sue applicazioni: gli RTG vengono utilizzati per missioni di lunga durata o in aeree del pianeta in cui la luce solare arriva meno perpendicolare, 
           come i poli, 
           mentre i pannelli solari vengono usati per missioni di breve durata o in aree con buona esposizione al sole, 
           come l'equatore.
        </p>

        <h3>RTG</h3>

        <p>RTG (Radioisotope Thermoelectric Generators), consiste in delle celle contenenti plutonio-238, 
        un elemento radioattivo che, 
        tramite il suo decadimento, genera calore che viene poi convertito in energia elettrica. 
        Questa fonte di energia è quella su cui le agenzie per ora puntano di più, 
        in quanto non dipendendo dalla luce solare permette di avere una costante fonte di energia. <br> </p>
        <h3>Pannelli solari</h3>
        <p>I pannelli solari, 
        che a seconda del tipo di sonda possono essere circolari o rettangolari, 
        vengono affiancati da batterie che permettono un funzionamento anche durante le ore buie o di scarsa luminosità, 
        come le tempeste.<br>
        Se la sonda è un rover, 
        che quindi necessita ampia libertà di movimento, 
        i pannelli solari saranno rettangolari, 
        in modo da integrarsi bene nella struttura del veicolo e non intralciarne il movimento o sbilanciarlo. <br>
        Se invece la sonda è un lander, 
        che quindi non si muove ed è ancorata al suolo, 
        i pannelli solari saranno circolari perchè avendo apertura a ventaglio, 
        a parità di spazio occupato in stiva fornisce poi più superficie e di conseguenza più energia. <br> </p>

      <p>La prossima sezione consigliata è:</p> <a href="ing-spa#spagnolo">Tecnología española para la atmósfera</a>

    </div>
</body>
</html>
